# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\LEGAL_PAY\DCCourt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
